{% extends 'frontend/base.html' %}
{% block title %} About {% endblock %}
{% block content %}

<div class="text-center">
    <h1><p><p>เกี่ยวกับ WE ARE VALUNTEER</h1>
    <B><p> WE ARE VALUNTEER หรือ กลุ่มเยาวชนอาสาพัฒนาบ้านเกิด <P> คือกลุ่มเยาวชนที่สนใจในเรื่องการแก้ปัญหาต่างๆในพื้นที่ เพื่อพัฒนาชีวิตดีขึ้นให้กับกลุ่มคนที่ยังขาดโอกาส 
    <P>ซึ่งเยาวชนเหล่านี้จะลงพื้นที่ไปทำกิจกรรมในพื้นที่ 3 จังหวัดชายแดนภาคใต้ นำโดยนางสาวแวเยาะ เปาะโซ๊ะ เป็นริเริ่มในการรวมกลุ่มเยาวชน
    <P>ส่วนใหญ่ที่เข้ามาร่วมเป็นนักเรียนที่จบจากโรงเรียนธรรมวิทยามูลนิธิ จังหวัดยะลา <p>แล้วยังมีเยาวชนทั่วไปที่มาเข้าร่วม เพื่อทำกิจกรรมต่างๆที่กลุ่มได้จัดทำ 
    </B>
  </div>
  <div class="text-center">  
    <a class="nav-link" 
    href="https://www.facebook.com/%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%E0%B8%AD%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B9%80%E0%B8%81%E0%B8%B4%E0%B8%94-226709124544136">
    <span class="sr-only">(current)</span>
    <img src = "static/images/logo.jpg"  width="300" ></a>
  </div>

<div class="jumbotron text-center">
    <h1>การติดต่อ</h1>
    <a class="nav-link" 
    href="https://www.facebook.com/%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%E0%B8%AD%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B9%80%E0%B8%81%E0%B8%B4%E0%B8%94-226709124544136">
    <span class="sr-only">(current)</span>
    <img src = "static/images/face.png"  width="55" ></a>
    <B> 098 675 6085  </B>
  </div>
{% endblock %}