{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="text-center">
    <h1>ACTIVITY</h1>
    <p style="font-size: 28px;">กิจกรรม</p> 
</div>
  

    <B>โครงการช่วยเหลือผู้ได้รับผลกระทบ กับ COVID-19</B>

    <table class="table ; text-center" >
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c1.jpg" height="55%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c2.jpg" height="55%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c3.jpg" height="55%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c5.jpg" height="55%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c4.jpg" height="52%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/ac1.jpg" height="22%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c6.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c7.jpg" height="22%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c8.jpg" height="35%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c9.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c10.jpg" height="20%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c11.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c12.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c13.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/c14.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>
    
    <B>โครงการละศีลอดแก่เด็กกำพร้า คนแก่ และผู้ยากไร้ ครั้งที่ 2</B>

    <table class="table ; text-center" >
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r1.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r2.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r3.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r4.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r5.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r15.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r6.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r7.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r8.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r9.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r10.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r11.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r12.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r13.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r14.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r16.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r17.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r18.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r19.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r20.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r21.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r22.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r23.jpg" height="25%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/r24.jpg" height="25%" alt="" >
            </div>
        </td>
    </table>

    <B>โครงการเธอและฉันสู่วันหน้าที่สดใส</B>

    <table class="table ; text-center" >
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p1.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p2.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p3.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p4.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p5.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/ac3.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p6.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p7.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p8.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p9.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p10.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p11.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p12.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p13.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/p14.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

        <B>โครงการละศีลอดแก่เด็กกำพร้า คนแก่ ผู้ยากไร้ และคนพิการ</B>

    <table class="table ; text-center" >
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a1.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a2.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a3.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a4.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a5.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/ac4.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a6.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a7.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a8.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a9.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a10.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a11.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <table class="table ; text-center" >   
        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a12.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a13.jpg" height="50%" alt="" >
            </div>
        </td>

        <td style="width:25%;height:10% ;">
            <div>
                <img src="static/images/a14.jpg" height="50%" alt="" >
            </div>
        </td>
    </table>

    <div class="jumbotron text-center">
    <h1>การติดต่อ</h1>
    <a class="nav-link" 
    href="https://www.facebook.com/%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%E0%B8%AD%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B9%80%E0%B8%81%E0%B8%B4%E0%B8%94-226709124544136">
    <span class="sr-only">(current)</span>
    <img src = "static/images/face.png"  width="55" ></a>
    <B> 098 675 6085  </B>
  </div>
{% endblock %}