{% extends 'frontend/base.html' %}
{% block title %} Contact {% endblock %}
{% block content %}
<html lang="en">

<head>
  <title>contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
  <style>
  .bg {
  background-image: url("static/images/89029.jpg");
  height: 100%; 

  background-position: center;

  background-size: 100%;
}

    body {
      font-family: Arial, Helvetica, sans-serif;
      padding: 0;
      margin: 0;
    }

    article {
      float: right;
      padding: 1 px;
      width: 92%;
      height: 700px;
      font-size: 20px;
      
    }

    
    section:after {
      content: "";
      display: table;
      clear: both;
    }
   
  </style>
</head>

<body >


  <section class="bg">
    <article cla>
    <br>
      <h1 style="font-size: 60px;">CONTACT</h1> <br>
      <B><p>ที่อยู่ 45 หมู่ที่ 7<br><br>ตำบลกรงปินัง อำเภอกรงปินัง <br><br>จังหวัดยะลา 95000 <br><br>เบอร์โทรศัพท์ 098 675 6085
 
        <br><br>Page Facebook : กลุ่มเยาวชนอาสาพัฒนาบ้านเกิด <br>
       <br> <a class="nav-link" 
    href="https://www.facebook.com/%E0%B8%81%E0%B8%A5%E0%B8%B8%E0%B9%88%E0%B8%A1%E0%B9%80%E0%B8%A2%E0%B8%B2%E0%B8%A7%E0%B8%8A%E0%B8%99%E0%B8%AD%E0%B8%B2%E0%B8%AA%E0%B8%B2%E0%B8%9E%E0%B8%B1%E0%B8%92%E0%B8%99%E0%B8%B2%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B9%80%E0%B8%81%E0%B8%B4%E0%B8%94-226709124544136">
    <span class="sr-only">(current)</span>
    <img src = "static/images/face.png"  width="55" ></a>
    </article>
  </section>
  </div>

</body>
{% endblock %}